*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.cont{
    /* margin-left: 45rem;
    margin-top: 20rem; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    box-shadow: 10px black;
}